<% content_for(:template_name, "card") %>

<div class="form-card__header spacing-below-35">
  <h1 class="form-card__title">
    <%= t("sorry.header") %>
  </h1>
</div>
<div class="form-card__content">
  <div class="grid">
    <div class="grid__item">
      <p><%= t("shared.if_your_family_html") %></p>
      <p><%= t("sorry.you_can_also_html") %></p>
    </div>
  </div>
</div>
<div class="form-card__footer">
  <div class="grid__item">
    <%= link_to t("shared.back_to_home"), root_path, class: "button" %>
  </div>
</div>
